

<div class="container mt-2">
  <form>
    <div class="form-group">
      <label for="nomeInput">Nome</label>
      <input type="text" id="nomeInput" class="form-control" placeholder="Digite um nome" #nomeInput>
    </div>
  </form>
  <button type="button" (click)="adicionar(nomeInput)" class="btn btn-primary">Adicionar</button>
  <div class="alert alert-primary mt-3 p-3" [hidden]="!exibeCaixa">{{nome}}</div>
</div>


<!--2 + 2 = {{ 2 + 2 }}
<p>Oi, meu nome é {{nome}} e tenho {{idade}} anos.</p>

<p>Lançando um dado: {{lancarDado()}}</p>-->